
[Unit]
Description=My URL-Shortener App
After=network.target

[Service]
User=azureuser
ExecStart=/usr/bin/node /home/azureuser/url-shortener/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target